@import url(https://fonts.google.com/specimen/Poppins);


*{
    font-family: "Poppins";
}

:root{
--primary: #86EBD6;
--secundary: #6ED2D4;

}

.banner {
    background-color: var (--primary);
}

.articulos {
    background-color: var (--secundary);
}
